/* ========================================================================
   Component: Search
 ========================================================================== */ 
 .tm-search {
  position: fixed;
  top: 85px;
  right: 0;
  z-index: 981;
  border-radius: 3px 0 0 3px;
  background: #f5f6fa;
}
.tm-navbar-center .tm-search {
  top: 65px;
}