<div class="uk-overflow-container">
	<table class="uk-table uk-table-hover uk-table-middle uk-table-condensed">
		<thead>
			<tr>
				<th class="pk-table-min-width-200" v-order:word="config.filter.order2">{{ 'Search keywords' | trans }}</th>
				<th class="pk-table-width-100 uk-text-center" v-order:wcount="config.filter.order2">{{ 'Count' | trans }}</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="keyword in keywords" >
							
				<td>
					{{ keyword.word }}
				</td>

				<td class="uk-text-center">
					{{ keyword.wcount }}
				</td>
			</tr>
		</tbody>
	</table>
</div>
